html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media not print {
  .page {
    background-color: white;
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 50%);
    height: 21cm;
    margin: 0 auto 1.5cm;
    padding: .5cm 1cm;
    width: 29.7cm;
  }

  .page:first-of-type {
    margin-top: 1cm;
  }
}

@media print {
  .page {
    height: 20cm;
    page-break-after: always;
    page-break-inside: avoid;
  }

  @page {
    margin: .5cm 1cm;
    size: A4 landscape;
  }
}

:root {
  --border-color: black;
}
