.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 64pt;
  justify-content: center;
}

.title {
  border-bottom: solid 1px var(--border-color);
  flex: 1;
  font-size: 32pt;
  margin: 0;
  padding-bottom: 4pt;
  text-align: left;
}

.titleGopher {
  height: 100%;
}

.main {
  column-gap: 8pt;
  display: flex;
  flex-direction: row;
  height: calc(100% - 64pt)
}

.column {
  flex: 1;
}

.section {
  font-size: 9pt;
  margin-top: 8pt;
  page-break-inside: avoid;
}

.section > h2 {
  font-size: 14pt;
  margin: 0;
}

.section > p {
  margin: 4pt 0 0;
}

.section > pre {
  border: solid 1px lightgray;
  margin: 4pt 0 0;
}
