.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 64pt;
  justify-content: center;
}

.title {
  border-bottom: solid 1px var(--border-color);
  flex: 1;
  font-size: 32pt;
  margin: 0;
  padding-bottom: 4pt;
  text-align: left;
}

.titleGopher {
  height: 100%;
}

.main {
  column-gap: 8pt;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100% - 64pt)
}
